*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  all: unset;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

.body {
  width: 100vw;
  height: 100vh;
  background-color: #051622;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem 0;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #1ba098;
}
.header__title {
  color: #deb992;
  font-size: 6rem;
  font-weight: 700;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.nav__search {
  all: unset;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 3rem;
  font-size: 2rem;
  color: #051622;
  height: 3rem;
  width: 40rem;
  border-radius: 9999rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.75);
}

.books-counter {
  position: absolute;
  top: 12rem;
  color: #fae9dd;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 1rem;
}

.main-all {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.books-container {
  width: 70vw;
  height: calc(100vh - 20rem);
  border: 0.2rem solid #1ba098;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  overflow: scroll;
  scrollbar-width: none;
  color: #fae9dd;
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(29.4rem, 1fr));
  grid-auto-rows: 41.58rem;
  gap: 2.5rem;
  padding: 2rem;
}
.books-container__book {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 29.4rem;
  height: 41.58rem;
  padding: 2rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: all 0.2s;
  position: relative;
}
.books-container__book:hover {
  background-color: rgba(0, 0, 0, 0.35);
  border-color: rgba(255, 255, 255, 0.4);
}
.books-container__book__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25rem;
}
.books-container__book__author {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  opacity: 0.8;
}
.books-container__book__img-container {
  margin-bottom: 5rem;
}
.books-container__book__img-container__img {
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.2rem solid rgba(255, 255, 255, 0.5);
}
.books-container__book__description {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options-container {
  width: 20rem;
  height: calc(100vh - 20rem);
  background-color: rgba(255, 255, 255, 0.03);
  border: 0.2rem solid #1ba098;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.options-title {
  color: #deb992;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 1px solid #1ba098;
  text-align: center;
  margin-bottom: 1rem;
}
.options-order-title {
  margin-top: 1.5rem;
}
.options-btn {
  color: #fae9dd;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5rem;
  padding: 0.8rem 0;
  width: 100%;
  height: 1.5rem;
  background-color: rgba(27, 160, 152, 0.3);
  border-radius: 9999rem;
  margin: 0.5rem 0;
}

.reset-btn {
  margin-top: auto;
}

.read {
  color: #1ba098;
}

.reading {
  color: #f2b705;
}

.not-read {
  color: #f25f5c;
}

.hidden {
  display: none;
}

@media (max-width: 1500px) {
  .books-counter {
    margin-top: 2rem;
  }
  .main-all {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
  .books-container {
    width: 90vw;
  }
  .options-container {
    width: 90vw;
    height: auto;
  }
}
@media (max-width: 450px) {
  .nav__search {
    width: 90vw;
  }
}/*# sourceMappingURL=index.css.map */